<form class="sign-in" action="/login" method="POST">
  <div class="sign-in__element">
    <label class="sign-in__label" for="email">Email: </label>
    <input class="form-input" type="email" id="email" name="email">
  </div>
  <div class="sign-in__element">
    <label class="sign-in__label" for="pass">password: </label>
    <input class="form-input" type="password" id="pass" name="password">
  </div>
</form>
