<form class="sign-up" action="/sign-up" method="POST">
  <div class="sign-up__element">
    <label class="sign-up__label" for="username">Name: </label>
    <input class="form-input" type="text" id="username" name="name">
  </div>
  <div class="sign-up__element">
    <label class="sign-up__label" for="email">Email: </label>
    <input class="form-input" type="email" id="email" name="email">
  </div>
  <div class="sign-up__element">
    <label class="sign-up__label" for="date">Date of Birth: </label>
    <input class="form-input" type="date" id="date" name="dateOfBirth">
  </div>
  <div class="sign-up__element">
    <label class="sign-up__label" for="mobile-no">MobileNo: </label>
    <input class="form-input" type="text" id="mobile-no" name="mobileNo">
  </div>
  <div class="sign-up__element">
    <label class="sign-up__label" for="pass">password: </label>
    <input class="form-input" type="password" id="pass" name="password">
  </div>
  <div class="sign-up__element">
    <label class="sign-up__label" for="c-pass">Confirm password: </label>
    <input class="form-input" type="password" id="c-pass" name="confirmPassword">
  </div>
</form>
